@font-face{
    font-family: 'FiraGO';
    src: url('./fonts/FiraGO-Regular.woff2') format('woff2'),
    url('./fonts/FiraGO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'FiraGO';
    src: url('./fonts/FiraGO-Regular.woff2') format('woff2'),
    url('./fonts/FiraGO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FredokaOne';
    src: url('./fonts/FredokaOne-Regular.woff2') format('woff2'),
        url('./fonts/FredokaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FiraGO, Arial, Helvetica, sans-serif;
}
